html {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    background: #e9ecef;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    background: #1e394f;
    padding: 30px;
    margin-bottom: 30px;
}

a {
    color: #1e394f;
}

a:focus {
    outline: 3px dashed #f50f82;
    outline-offset: 10px;
}

.download-link {
    display: inline-block;
    color: #1e394f;
    background: 15px 50% no-repeat url('firefox-bg.png') #85c0f1;
    padding: 25px;
    padding-left: 80px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 5px 2px #1e394f;
    margin: 30px 0;
}

.download-link:hover {
    box-shadow: 0 0 10px 2px #1e394f;
}

.warning {
    margin: -10px auto 20px;
    padding: 0 10px;
    color: #c7496a;
    max-width: 500px;
}

.warning div {
    margin-top: 5px;
}

.changelog-link {
    display: table;
    margin: auto;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

h1 {
    font-size: 42px;
    display: inline-block;
    background: top left no-repeat url('icon-light.png');
}

h2 {
    font-size: 22px;
}

.title {
    padding-left: 90px;
    margin-top: 25px;
    color: #d4e4f1;
}

.subtitle {
    color: #85c0f1;
    font-size: 24px;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 32px;
        background-size: 50px;
    }

    .title {
        margin-top: 10px;
        padding-left: 70px;
    }

    .subtitle {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        background: none;
    }

    .title {
        margin-top: 0;
        padding-left: 0;
    }
}

figure {
    display: table;
    margin: 30px auto;
    border: 1px solid #85c0f1;
    padding: 10px;
    border-radius: 5px;
    background: white;
}

figure div {
    display: table;
}

figure img {
    max-width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    margin-top: 10px;
}

.content-block {
    text-align: left;
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #85c0f1;
}

.github-buttons {
    margin-top: 10px;
    text-align: center;
}

#changelog dt {
    margin: 20px 0 5px;
}

#changelog dd:before {
    content: '– ';
}

#changelog dd {
    margin-left: 15px;
}
